<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href=".../"> -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/man.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/modal-2.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css" />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/figuarnieri/dualrange/master/dualrange.min.css"
    />
  </head>
  <body>
    <header id="main-header" style="height: 0"></header>
    <div class="clear" style="clear: both"></div>

    <div
      class="content"
      style="margin-top: 130px; padding: 30px 10%; margin-bottom: 40px"
    >
      <div class="header-content row">
        <div class="col-md-6 responsive2">
          <a href="#homepage">TRANG CHỦ</a> / <span> PHỤ KIỆN KHÁC</span>
        </div>
        <div class="col-6 responsive1">
          <div class="row">
            <div class="col-6 ms-auto">Hiển thị 1–12 trong 22 kết quả</div>
            <div class="col-6">
              <form action="" style="width: 200px">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Mặc định</option>
                  <option value="1">Theo mức độ phổ biến</option>
                  <option value="2">Điểm đánh giá</option>
                  <option value="3">Mới nhất</option>
                  <option value="3">Theo giá từ nhất đến cao</option>
                  <option value="3">Theo giá từ cao đến thấp</option>
                </select>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="main-content row">
        <!--NEWS-->
        <div class="col-3 check">
          <div class="row price-filter">
            <p>LỌC THEO GIÁ</p>
            <form action="/Nam" method="get">
              <input type="range" name="Range" min="0" max="100" />
              <div class="row">
                <div class="col-4">
                  <button type="submit">LỌC</button>
                </div>
                <div class="col-8">
                  <span class="value-left">0</span> -
                  <span class="value-right">1,000,000</span>
                </div>
              </div>
            </form>
          </div>

          <div class="row">
            <p>BÀI VIẾT MỚI NHẤT</p>
            <div class="list-group news">
              <div class="row list-group-item">
                <div class="row">
                  <div class="col-5">
                    <img
                      src="http://mauweb.monamedia.net/converse/wp-content/uploads/2019/05/men-psy-1-150x150.jpg"
                      alt=""
                      style="width: 60px; height: 60px"
                    />
                  </div>
                  <div class="col-7">
                    <a
                      href="http://mauweb.monamedia.net/converse/duis-luctus-elit-nisi-et-cursus-magna-pellentesque-non/"
                      >Converse sẽ mang Golf le Fleur* Chuck 70 về Việt Nam?</a
                    >
                  </div>
                </div>
              </div>
              <div class="row list-group-item">
                <div class="row">
                  <div class="col-5">
                    <img
                      src="http://mauweb.monamedia.net/converse/wp-content/uploads/2019/05/men-psy-1-150x150.jpg"
                      alt=""
                      style="width: 60px; height: 60px"
                    />
                  </div>
                  <div class="col-7">
                    <a
                      href="http://mauweb.monamedia.net/converse/duis-luctus-elit-nisi-et-cursus-magna-pellentesque-non/"
                      >Converse sẽ mang Golf le Fleur* Chuck 70 về Việt Nam?</a
                    >
                  </div>
                </div>
              </div>
              <div class="row list-group-item">
                <div class="row">
                  <div class="col-5">
                    <img
                      src="http://mauweb.monamedia.net/converse/wp-content/uploads/2019/05/men-psy-1-150x150.jpg"
                      alt=""
                      style="width: 60px; height: 60px"
                    />
                  </div>
                  <div class="col-7">
                    <a
                      href="http://mauweb.monamedia.net/converse/duis-luctus-elit-nisi-et-cursus-magna-pellentesque-non/"
                      >Converse sẽ mang Golf le Fleur* Chuck 70 về Việt Nam?</a
                    >
                  </div>
                </div>
              </div>
              <div class="row list-group-item">
                <div class="row">
                  <div class="col-5">
                    <img
                      src="http://mauweb.monamedia.net/converse/wp-content/uploads/2019/05/men-psy-1-150x150.jpg"
                      alt=""
                      style="width: 60px; height: 60px"
                    />
                  </div>
                  <div class="col-7">
                    <a
                      href="http://mauweb.monamedia.net/converse/duis-luctus-elit-nisi-et-cursus-magna-pellentesque-non/"
                      >Converse sẽ mang Golf le Fleur* Chuck 70 về Việt Nam?</a
                    >
                  </div>
                </div>
              </div>
              <div class="row list-group-item">
                <div class="row">
                  <div class="col-5">
                    <img
                      src="http://mauweb.monamedia.net/converse/wp-content/uploads/2019/05/men-psy-1-150x150.jpg"
                      alt=""
                      style="width: 60px; height: 60px"
                    />
                  </div>
                  <div class="col-7">
                    <a
                      href="http://mauweb.monamedia.net/converse/duis-luctus-elit-nisi-et-cursus-magna-pellentesque-non/"
                      >Converse sẽ mang Golf le Fleur* Chuck 70 về Việt Nam?</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--PRODUCT-->
        <div class="col-9">
          <div class="tabs-content">
            <div class="tab-pane active">
              <% for(var i = 0;i < dataProd.length/4+1;i++) { %>
              <div class="row list-product">
                <% for(var j = 0;j < 4;j++) { if(!dataProd[4*i+j]) break; %>
                <div class="col-lg-3 col-sm-6 product">
                  <a href="/detail/<%= TypeProd %>/<%= dataProd[4*i + j].ID %>">
                    <img
                      src="<%= dataProd[4*i + j].URLpic %>"
                      style="width: 200px; height: 150px"
                      alt=""
                      srcset=""
                    />
                  </a>
                  <div class="name-product">
                    <p class="name-product-title">
                      <a href="#"> <%= dataProd[4*i + j].NamePr %></a>
                    </p>
                  </div>
                  <div class="price-product">
                    <%= dataProd[4*i + j].Price %> đ
                  </div>
                  <button class="btn-cart" type="submit">Thêm vào giỏ</button>
                </div>
                <% } %>
              </div>
              <% } %>
            </div>
          </div>
          <div class="wrap-tabs d-flex justify-content-center">
            <div class="tabs">
              <div class="tab-item active">1</div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer"></footer>
    <script src="https://cdn.rawgit.com/figuarnieri/dualrange/master/dualrange.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/addToCart.js"></script>
    <script src="/js/footer.js"></script>
    <script>
      // const header = document.querySelector('.header')
      // document.onscroll = function(e) {
      //     if(window.scrollY >= 130) {
      //         header.classList.add('fixed-top')
      //     }
      // }
    </script>
    <script>
      const $ = document.querySelector.bind(document);
      const $$ = document.querySelectorAll.bind(document);

      const tabs = $$(".tab-item");
      const panes = $$(".tab-pane");

      const tabActive = $(".tab-item.active");
      const line = $(".tabs .line");
      requestIdleCallback(function () {
        line.style.left = tabActive.offsetLeft + "px";
        line.style.width = tabActive.offsetWidth + "px";
      });

      tabs.forEach((tab, index) => {
        const pane = panes[index];

        tab.onclick = function () {
          $(".tab-item.active").classList.remove("active");
          $(".tab-pane.active").classList.remove("active");

          line.style.left = this.offsetLeft + "px";
          line.style.width = this.offsetWidth + "px";

          this.classList.add("active");
          pane.classList.add("active");
        };
      });
    </script>
    <script>
      new DualRange(".selector", (e) => {
        document.querySelector(".min").textContent = e.min;
        document.querySelector(".max").textContent = e.max;
      });
    </script>
  </body>
</html>
